@import "./var";
.hello {
  color: $--color-white;
  border-bottom: 1px solid $--color-white;
  text-align: center;
  .title {
    padding: 19px 0;
    margin: 0 15px;
    border-bottom: 1px solid $--color-white;
  }
  .user {
    .picture {
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid rgba(255, 255, 255, 0.3);
      margin: 20px auto;
      &.small {
        width: 40px;
        height: 40px;
      }
    }
    .user-name {
      font-size: 12px;
      margin-bottom: 20px;
      &:after {
        content: '';
        display: inline-block;
        margin-bottom: -2px;
        margin-left: 5px;
        border: 4px solid transparent;
        border-top-color: $--color-white;
      }
    }
    img {
      width: 100%;
    }
  }
}
.el-container {
  height: 100%;
}
.el-header {
  background-color: $--color-header;
  color: #333;
  text-align: left;
  font-size: 12px;
  border-bottom: 1px solid $border-color;
  .header-left {
    float: left;
    margin-top: 11px;
    .btn-collapse {
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      border-radius: 50%;
      background: $--color-primary;
      color: $--color-white;
      cursor: pointer;
    }
  }
  .header-right {
    float: right;
  }
}
.el-menu {
  height: 100%;
  background-color: $--color-primary;
  color: $--color-white;
  border: none;
  overflow-x: hidden;
  overflow-y: scroll;
  /*width: 200px;*/
}
.el-radio-button {

}
.el-aside {
  & .el-icon-message {
    /*color: red;*/
  }
}
.el-submenu__title:hover {
  background-color: $--color-primary-hover;
}
.el-submenu__title {
  color: $--color-white;
  padding: 0 40px;
  text-align: left;
}
.el-menu-item {
  color: $--color-white;
}
.el-menu-item.is-active {
  color: $--color-white;
}
.el-submenu__title i {
  color: $--color-white;
}
.el-menu-item:focus, .el-menu-item:hover {
  background: $--color-primary-hover;
}
.el-menu--collapse {
  width: 80px;
}
